<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" crossorigin="anonymous">
  <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->
  <style>
    .box-shadow {

      box-shadow: 0px 0px 5px 0px #e8e8e8;

    }
  </style>
</head>

<body>
  <section class=" py-3 bg-secondary">

    <div class="container  my-4">
      <div class="row justify-content-center">
        <div class="col col-md-8 bg-light rounded py-3">
          <div class="row justify-content-center">
            <div class="col col-md-8 py-3">
              <h3>
                Hi, <%= name %>
              </h3>
              <div class="card border-0 box-shadow">
                <div class="card-body">

                  <form action="/create" method="POST">
                    <input placeholder="Title of post" name="title" type="text" class="form-control mb-3">
                    <textarea class="form-control" name="body" id="" cols="20" rows="4">

                    </textarea>
                    <button class="btn btn-primary float-md-right mt-3 ">Post</button>
                  </form>

                </div>
              </div>
            </div>
            <div class="col col-md-8 py-3 mt-3">

              <% posts.forEach((post) => { %>
              <div class="card mt-3 border-0 box-shadow">
                <div class="card-body">
                  <h5 class="card-title">
                    <%= post.title %>
                  </h5>
                  <p class="card-text">
                    <%= post.body %>
                  </p>
                  <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a>
                </div>
              </div>

              <% }) %>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- 
  <h1> Hello Shikha </h1>
  <div class="container">

    <div class="card">
      <p>this is card</p>
    </div>
    <button>Submit</button>
  </div>
 -->

</body>

</html>